* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    background-color: rgb(10, 10, 10);
    color: white;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 200;
}

.nav {
    margin-left: 2em;
}

.navList {
    padding-top: 2rem;
}

li {
    padding: .2rem;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    font-size: 1.5rem;
}

.shipName {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(255, 145, 0);
}

img {
    box-shadow: 0px 0px 12px rgb(5, 5, 5);
    margin: 1rem;
}

footer {
    display: flex;
    padding-left: .7rem;
    padding-bottom: .7rem;
    font-size: .8rem;
    padding-top: 7rem;
}