* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    color: white;
}

body {
    background-image: url(/images/sky.jpg);
}


.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Roboto";
    font-weight: 900;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-size: 3rem;
    color: rgb(255, 174, 0);
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.nav {
    margin-left: 2em;
    padding: 1rem;
    background-image: linear-gradient(to bottom right, rgba(0, 25, 27, 0.63), rgba(0, 36, 53, 0.637));
}

li {
    padding: .5rem;
    font-size: 1.4rem;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    font-size: 1.5rem;
}

.shipName {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(255, 145, 0);
}

img {
    box-shadow: 2px 2px 20px rgb(0, 0, 0);
    margin: 1rem;
}

.shipView {
  padding-bottom: 75rem;
}

.nev {
    background-color: rgba(0, 0, 0, 0.685);
    width: 100%;
    box-shadow: 0px 2px 15px black;
  }
  
  .nev ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
  }
  
.nev li {
    padding: 0;
    margin: 0;
}

  .nev ul a {
    display: block;
    padding: 1.25rem;
    font-size: 1.5rem;
    color: #ffe1e6;
    text-decoration: none;
    font-weight: 500;
  }
  
  .nev ul li a:hover {
    background-color: rgb(255, 174, 0);
    color: rgb(58, 37, 28);
  }
  
  .nev .active {
    background-color: rgba(1, 20, 17, 0.904);
    color: rgb(255, 174, 0);
    box-shadow: 0px 4px 8px rgba(1, 20, 17, 0.904);
  }

  footer {
    display: flex;
    padding-left: .7rem;
    padding-bottom: .7rem;
    font-size: .8rem;
    padding-top: 7rem;
}