* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    background-color: rgb(14, 14, 14);
    color: white;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: 200;
}

.nav {
    margin-left: 2em;
}

.navList {
    padding-top: 2rem;
}

li {
    padding: .2rem;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    font-size: 1.5rem;
}

.shipName {
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 300;
}

footer {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
}