* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  position: relative;
}

body {
  min-height: 100vh;
  padding-bottom: 4rem;
}


h1 {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  color: rgb(24, 24, 24);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;
}

button {
  font-weight: 700;
  padding: 1rem;
  margin: 1rem;
  color: rgb(14, 14, 14);
  color: rgb(235, 113, 0);
  background-color: white;
  border-color: rgb(226, 226, 226);
  box-shadow: 2px 1px 6px rgb(194, 194, 194);
  border-radius: 5px;
}

button:hover {
  background-color: rgb(14, 14, 14);
  color: rgb(255, 255, 255);
  border-color: rgb(14, 14, 14);
  box-shadow: 2px 1px 6px rgb(14, 14, 14);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

figure {
  padding: 20px;
}
  
figure img {
    width: 200px;
    border-radius: 3px;
    box-shadow: 1px 1px 6px rgb(185, 185, 185);

  }

figcaption {
  display: flex;
  justify-content: center;
  color: rgb(14, 14, 14);
  padding-top: .5rem;
}

footer {
  display: flex;
  bottom: 0;
  position: absolute;
  padding-left: .7rem;
  padding-bottom: .7rem;
  font-size: .8rem;
}

