* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  position: relative;
}

nav {
  background-color: rgba(0, 0, 0, 0.685);
  width: 100%;
  box-shadow: 0px 2px 15px black;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

nav ul a {
  display: block;
  padding: 1.25rem;
  font-size: 1.5rem;
  color: #ffe1e6;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: rgb(255, 174, 0);
  color: rgb(58, 37, 28);
}

nav .active {
  background-color: rgba(1, 20, 17, 0.904);
  color: rgb(255, 174, 0);
  box-shadow: 0px 4px 8px rgba(1, 20, 17, 0.904);
}

body {
  min-height: 100vh;
  padding-bottom: 4rem;
  background-image: linear-gradient(to bottom, rgb(37, 37, 37), rgb(17, 17, 17));
  background-image: url(/images/sky.jpg);
}

h1 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
  color: rgb(255, 174, 0);
  text-transform: uppercase;
  margin-bottom: 2rem
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;
}

button {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem;
  margin: 1rem;
  color: rgb(58, 37, 28);
  background-image: linear-gradient(to bottom right, rgb(89, 180, 255), rgb(110, 255, 243));
  border-style: none;
  box-shadow: 2px 1px 16px rgb(0, 0, 0);
  border-radius: 5px;
}

button:hover {
  background-image: linear-gradient(to top left, rgb(89, 180, 255), rgb(110, 255, 243));
  color: rgb(78, 38, 0);
  box-shadow: 2px 1px 30px rgba(35, 255, 244, 0.568);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 3rem;
  }

figure {
  padding: 20px;
  margin-bottom: 1.5rem;
}
  
figure img {
    width: 200px;
    border-radius: 8px;
    box-shadow: 0px 4px 26px rgb(0, 0, 0);
  }

figcaption {
  display: flex;
  justify-content: center;
  color: rgb(235, 113, 0);
  padding-top: .5rem;
  font-size: 1.4rem;
}

figure img:hover {
  box-shadow: 0px 0px 50px rgba(0, 255, 234, 0.548)
}

footer {
  display: flex;
  bottom: 0;
  position: absolute;
  padding-bottom: .7rem;
  font-size: .8rem;
  color: white;
  width: 100%;
}

footer p {
  width: 100%;
  text-align: center;
}