header {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
    padding: 2rem;
    padding-top: 2.5rem;
    color: rgb(17, 17, 17);
    font-family: "Roboto";
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    border-radius: 8px;
    box-shadow: 2px 3px 7px rgb(51, 51, 51);
}

figcaption {
    text-align: center;
    font-family: "Roboto";
    padding-top: 1rem;
    padding-bottom: 2rem;
    font-weight: 700;
    color: rgb(17, 17, 17);
    font-size: 1.3rem;
}