main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    border-radius: 8px;
    box-shadow: 2px 3px 7px rgb(51, 51, 51);
}

figcaption {
    text-align: center;
    font-family: sans-serif;
}