* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Roboto";
}

.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(230, 230, 230);
}

figure {
    display: flex;
    flex-direction: column;
    width: 160px;
    margin: 1.5rem;
}

figcaption {
    text-align: center;
    padding-top: .5rem;
}

img {
    box-shadow: 0px 2px 6px rgb(138, 138, 138);
}

.title {
    display: flex;
    justify-content: center;
    color: rgb(54, 54, 54);
    margin-top: 2.5rem;
    font-size: 2.5em;
    margin-bottom: 1.3rem;
}

.faqHeader {
    padding-left: 2.5rem;
    padding-bottom: .2rem;
    font-weight: 800;
}

.repSpotlight {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(109, 24, 24);
}

.repSpotlight img {
    box-shadow: 0px 2px 6px rgb(59, 2, 2);
}

.repSpotlight figure:hover img{
    box-shadow: 0px 5px 15px rgb(59, 2, 2);
}

.repSpotlight figcaption {
    color: white;
    font-weight: 300;
}

.repSpotlight figure:hover figcaption{
    color: rgb(195, 221, 255);
}

.demSpotlight {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(24, 61, 109);
}

.demSpotlight img {
    box-shadow: 0px 2px 6px rgb(2, 27, 59);
}

.demSpotlight figure:hover img{
    box-shadow: 0px 5px 15px rgb(2, 27, 59);
}

.demSpotlight figcaption {
    color: white;
    font-weight: 300;
}

.demSpotlight figure:hover figcaption{
    color: rgb(255, 195, 195);
}

.spotlight {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(230, 230, 230);
}

figure:hover {
    color: black;
}

figure:hover img{
    box-shadow: 0px 5px 15px rgb(138, 138, 138);
}

.missingDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.loyalDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.seniorDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.demButton {
    background-color:rgb(24, 61, 109);
    color: white;
    padding: .4rem;
    padding-left: .6rem;
    padding-right: .6rem;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-color:rgb(24, 61, 109);
    border-style: solid;
    margin-left: 2.5rem;
}

.repButton {
    background-color: rgb(109, 24, 24);
    color: white;
    padding: .4rem;
    padding-left: .6rem;
    padding-right: .6rem;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-color: rgb(109, 24, 24);
    border-style: solid;
    margin-left: 2.5rem;
    
}

.allButton {
    background-color: rgb(230, 230, 230);
    color: rgb(54, 54, 54);
    padding: .4rem;
    padding-left: .6rem;
    padding-right: .6rem;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-color: rgb(230, 230, 230);
    border-style: solid;
    margin-left: 2.5rem;
}

.missingButton {
    background-color: rgb(230, 230, 230);
    color: rgb(54, 54, 54);
    border-radius: 2px;
    border-color: rgb(210, 210, 210);
    border-width: 1px;
    border-style: solid;
    width: 100vw;
    display: flex;
    padding: .4rem;
    padding-left: 2.5rem;
}

.seniorButton {
    background-color: rgb(230, 230, 230);
    color: rgb(54, 54, 54);
    border-radius: 2px;
    border-style: solid;
    border-color: rgb(210, 210, 210);
    border-width: 1px;
    width: 100vw;
    display: flex;
    padding: .4rem;
    padding-left: 2.5rem;
}

.loyalButton {
    background-color: rgb(230, 230, 230);
    color: rgb(54, 54, 54);
    border-radius: 2px;
    border-color: rgb(210, 210, 210);
    border-width: 1px;
    border-style: solid;
    width: 100vw;
    display: flex;
    padding: .4rem;
    padding-left: 2.5rem;
}

.buttonTown {
    margin-top: 2.5rem;
}

.footer {
    padding-top: 1.2rem;
    padding-bottom: .5rem;
    font-size: .8rem;
    background-color: rgb(230, 230, 230);
    display: flex;
    width: 100vw;
    justify-content: flex-start;
    padding-left: 2.5rem;
}

