* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Roboto";
}

.senators {
    display: flex;
    flex-wrap: wrap;
}

figure {
    display: flex;
    flex-direction: column;
    width: 160px;
    margin: 2rem;
}

figcaption {
    text-align: center;
}