* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Roboto";
}

.members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    display: flex;
    flex-direction: column;
    width: 160px;
    margin: 1.5rem;
}

figcaption {
    text-align: center;
    padding-top: .5rem;
}

img {
    box-shadow: 0px 2px 6px rgb(138, 138, 138);
}

.title {
    display: flex;
    justify-content: center;
    color: rgb(54, 54, 54);
    margin-top: 2.5rem;
    font-size: 2.5em;
}

.seniorityHeading {
    color: rgb(54, 54, 54);
    margin-left: 2.5rem;
    margin-top: 2.5rem;
}

ol {
    padding-left: 3.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.repSpotlight {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(109, 24, 24);
}

.repSpotlight img {
    box-shadow: 0px 2px 6px rgb(59, 2, 2);
}

.repSpotlight figcaption {
    color: white;
    font-weight: 300;
}


.demSpotlight {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(24, 61, 109);
}

.demSpotlight img {
    box-shadow: 0px 2px 6px rgb(2, 27, 59);
}

.demSpotlight figcaption {
    color: white;
    font-weight: 300;
}